@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100svh;
}

#container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  padding: 10px;
}

.box{
  background-color: transparent;
  color: #000;
  border-radius: 3px;
  font-size: 2rem;
  padding: 20px;
  min-height: 28rem;
  text-align: center;
  border: 5px solid #007bff;
}

.course-category{
  font-size: 16px;
  text-align: start;
}

#bck{
  text-align: center;
  padding: 15px;
  font-size: 2.1rem;
}

.course-category1{
  font-size: 16px;
  text-align: start;
}

.advance-courses{
  font-size: 2.1rem;
  padding: 20px;
  text-align: center;
}

.course-category2{
  font-size: 16px;
  text-align: start;
}

.ms-office-specialist{
  font-size: 2.1rem;
  padding: 20px;
  text-align: center;
}

ol li{
  margin: 10px;
}

body {
    
    font-family: 'Roboto Condensed', sans-serif;
}

#hero-section {
    background-image: url(../image/people-practicing-social-integration-workspace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    filter: brightness(0) invert(1);
    max-height: 20em;
    max-width: 25%;
}

nav {
    max-width: 60%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

nav ul li a:hover {
    color: #333;
    border: none;
    padding-bottom: 2px;
    border-bottom: 5px solid #333;
    transition: linear 200ms;
}

.mobile-logo {
    display: none;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

.heading-container{
    padding: 50px;
    margin: 30px;
    margin-top: 60px;
}

.heading{
    font-size: 60px;
    color: #fff;
}

.sub-heading{
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}

.aside{
    padding: 50px;
    margin: 30px;
    margin-top: 5px;
}

.join-link{
    color: #fff;
    font-weight: 600;
}

.course {
    text-align: center;
    place-content: ce;
    color: #222222;
    position: relative;
    top: -40px;
    left: 42%;
}

.courses-container {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    flex-wrap: wrap;
    padding: 50px;
  }
  
  .course-category {
    flex: 1 1 30%;
    margin: 5px;
  }
  
  .course-category h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .course-category {
    flex: 1 1 30%;
    margin: 5px;
  }
  
  .course-category h2{
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  .course-category ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }
  
  .course-category ul ul {
    list-style-type: circle;
    margin-left: 20px;
  }  

  #about-container{
    min-width: 100%;
    color: #fff;
    font-size: 17px;
    text-align: center;
    min-height: 45vh;
    background-color: #007bff;
    display: flex;
    border: 10px double #fff;
  }

  .about-section{
    flex: 1 1 30%;
    padding: 20px;
    color: #fff;
  }

  .about-section h2{
    text-align: center;
    color: white;
    padding: 20px;
  }

  .about-image{
    padding: 30px;
    min-width: 35em;
    max-height: 45vh;
  }

  #contact-part {
    max-height: 50vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298); 
    color: #fff;
    display: flex;
    align-items: center; 
    padding: 30px;
  }
  
  .contact-image {
    min-width: 30em; 
    max-height: 40vh;
    margin-right: 50px; 
  }
  
  .contact-info {
    flex: 1; 
    line-height: 50px;
  }

  .footer-bottom {
    text-align: center;
    padding: 25px;
    font-size: 14px;
    color: #777;
  }

  p a{
    color: #f9f6ef;
  }

  p a:hover{
    color: blue;
  }

  .contact-container{
    flex: 1 1 30%;
  }

  .contact-form{
    background-color: transparent;
    color: #6c757d;
    margin: 10px;
    border: 3px solid #007bff;

  }

  #contact-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-form, .contact-info {
    flex: 1;
    min-width: 300px;
    padding: 20px;
  }
  
  
  .footer-bottom {
    text-align: center;
    padding: 20px;
  }
  

  .form-group{
    margin-bottom: 15px;
  }

  .form-group input, .form-group textarea{
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
  }

  .form-group textarea{
    resize: none;
    height: 100px;
  }

  .form-group{
    border-top: 0; border-right: 0; border-left: 0;
    border-bottom: 1px solid #6c757d;
  }

  .form-group input, textarea{
    background-color: transparent;
    border: none;
  }

  .form-group input, textarea:focus{
    color: #6c757d;
    outline: none;
  }

  .form-group textarea,input{
    color: #6c757d;
  }

  .form-group input:active{
    border: none;
  }

  button{
    width: 15%;
    padding: 10px;
    background-color: transparent;
    color: #6c757d;
    border: 1px solid #6c757d;
    border-radius: 5px;
    cursor: pointer;
  }

    button:hover{
      background-color: #6c757d;
      color: #fff;
    }

    .contact-info{
      background-color: #007bff;
      padding: 30px;
      color: white;
      margin: 10px;

    }

  
  @media screen and (min-width: 768px) and (max-width: 1023px){
    .courses-container {
        flex-wrap: wrap;
        padding: 50px;
        font-size: larger;
      }

      .heading{
        line-height: 5rem;
    }

      .course-category {
        flex: 1 1 100%;
        margin: 5px;
      }

      #about-container{
        flex-wrap: wrap;
        min-height: 35vh;
      }

      .about-image{
        display: none;
      }

      .contact-info {
        line-height: 35px;
      }

      button{
        width: 20%;
      }

      #container{
        grid-template-columns: 1fr;
        grid-template-areas: "fc fc fc"
        "nc nc nc" 
        "lc lc lc";
        row-gap: 20px;
    }
  
     #container :first-child{
        grid-area: fc;  
        font-size: 1.2rem;
    }
  
    #container :nth-child(2){
        grid-area: nc;
        font-size: 1.2rem;  
    }
  
  #container :last-child{
        grid-area: lc; 
        font-size: 1.2rem; 
    }
  }

@media screen and (max-width: 767px) {
    .mobile-logo {
        display: block;
        max-height: 4em;
        max-width: 15%;
        padding: 0;
        margin: 0;
        filter: brightness(0) invert(1);
    }

    header {
        padding: 20px;
        flex-wrap: wrap;
    }

    header label {
        display: block;
        order: 1;
    }

    label:active{
        color: #0077b6;
    }

    nav ul li a{
        color:#fff;
    }

    .logo {
        display: none;
    }

    header nav {
        position: absolute;
        top: 14%; left: 40%; right: 0;
        background-color: rgb(26, 27, 27);
        display: none;
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav ul li {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
    }

    header nav ul li:last-child{
        border-bottom: 0;
    }

    header nav ul li:hover:first-child{
        background-color: rgba(43, 44, 44, 0.9);
    }

    header nav ul li:hover:nth-child(2){
        background-color: rgba(43, 44, 44, 0.9);
    }

    header nav ul li:hover:nth-child(3){
        background-color: rgba(43, 44, 44, 0.9);
    }

    header nav ul li:hover:last-child{
        background-color: rgba(43, 44, 44, 0.9);
    }

    #menu-bar:checked ~ nav {
        display: flex;
    }

    .heading-container{
        margin-top: 0px;
    }
    
    .heading{
        font-size: 52px;
        font-weight: 720;
        color: #fff;
    }
    
    .sub-heading{
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    .aside{
        margin-top: -50px;
        max-height: 5px;
    }

    .join-link{
        color: #fff;
        font-weight: 600;
    }

    .logo {
        filter: brightness(0) invert(0);
    }

    body{
        background-size: cover;
    }

    .course {
    text-align: center;
    color: #222222;
    position: relative;
    top: 0;
    left: 0;
}

    .courses-container {
        background-color: lightgray ;
        flex-direction: column;
        text-align: start;
    }

    #about-container{
        flex-direction: column;
      }

      .about-image{
        padding: 20px;
        min-width: 15em;
        max-height: 32vh;
      }

      .contact-image {
        padding: 10px;
        min-width: 18em;
        max-height: 32vh;
      }

      #contact-part {
        min-height: 60vh;
        flex-direction: column;
      }

      .contact-info {
        line-height: 35px;
      }

      nav ul li a:hover {
        padding-bottom: 0px;
        border-bottom: 0;
        transition: linear 0ms;
    }

    button{
      width: 20%;
    }

  #container{
      grid-template-columns: 1fr;
      grid-template-areas: "fc fc fc"
      "nc nc nc" 
      "lc lc lc"
      ;
      row-gap: 20px;
  }

  #container :first-child{
      grid-area: fc;  
      font-size: 1.2rem;
  }

  #container :nth-child(2){
      grid-area: nc;
      font-size: 1.2rem;  
  }

  #container :last-child{
      grid-area: lc; 
      font-size: 1.2rem; 
  }

  #bck{   
  font-size: 1.8rem;
  }

  #advance-courses{
  font-size: 1.8rem;
  }

  ol li{
  margin: 5px;
  padding: 5px;
  }

  #ms-office-specialist{
      font-size: 2rem;
  }